
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.atalhos-do-figma-X17 {
  width: 100%;
  height: 197.1rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.atalhos-do-figma-X17 .atalhos-bsicos-3EM {
  width: 66.1rem;
  height: 9.8rem;
  position: absolute;
  left: 19.3rem;
  top: 10.4rem;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #25282b;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.atalhos-do-figma-X17 .logo-vJ9 {
  box-sizing: border-box;
  padding: 1.654rem 1.653rem 1.636rem 2.327rem;
  width: 12.4rem;
  height: 12.4rem;
  position: absolute;
  left: 173.2rem;
  top: 178.3rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-GMs.png');
}
.atalhos-do-figma-X17 .logo-vJ9 .auto-group-qmrm-oMw {
  margin: 0rem 0.665rem 0.318rem 0rem;
  box-sizing: border-box;
  padding: 0.936rem 2.022rem 1.344rem 5.443rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-DGR.png');
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .logo-vJ9 .auto-group-qmrm-oMw .vector-WGM {
  width: 0.2806rem;
  height: 0.2914rem;
  object-fit: contain;
  vertical-align: top;
}
.atalhos-do-figma-X17 .logo-vJ9 .auto-group-bvns-dbs {
  margin: 0rem 0.664rem 0.552rem 0rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .logo-vJ9 .auto-group-bvns-dbs .vector-N3f {
  margin: 0rem 0.383rem 0.202rem 0rem;
  width: 3.33rem;
  height: 1.7853rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .logo-vJ9 .auto-group-bvns-dbs .vector-tXo {
  margin-right: 0.2252rem;
  width: 1.8683rem;
  height: 2.7693rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .logo-vJ9 .auto-group-bvns-dbs .vector-dEV {
  margin-bottom: 0.0227rem;
  width: 1.9385rem;
  height: 2.7466rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .logo-vJ9 .auto-group-xd8p-yJM {
  width: 100%;
  height: 2.9rem;
  position: relative;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .logo-vJ9 .auto-group-xd8p-yJM .vector-iWq {
  width: 7.7479rem;
  height: 0.2439rem;
  position: absolute;
  left: 0;
  top: 0.0122rem;
  object-fit: contain;
  vertical-align: top;
}
.atalhos-do-figma-X17 .logo-vJ9 .auto-group-xd8p-yJM .natal-G2Z {
  width: 8.4rem;
  height: 2.9rem;
  position: absolute;
  left: 0.0198rem;
  top: 0;
  font-size: 2.2768rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.4098rem;
  color: #ffffff;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
}
.atalhos-do-figma-X17 .topicos-XjB {
  box-sizing: border-box;
  padding: 0.1rem 31.5rem 0rem 0rem;
  width: 159.8rem;
  height: 6.3rem;
  position: absolute;
  left: 19.3rem;
  top: 30.6rem;
  display: flex;
  align-items: center;
}
.atalhos-do-figma-X17 .topicos-XjB .zoom--1uF {
  margin: 0rem 71.1rem 0.1rem 0rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #25282b;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-XjB .ctrl-scroll-Wb7 {
  margin-top: 0.4rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #828282;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-23f {
  width: 139.6rem;
  height: 6.5rem;
  position: absolute;
  left: 19.3rem;
  top: 41.8rem;
  display: flex;
  align-items: center;
}
.atalhos-do-figma-X17 .topicos-23f .zoom--xCD {
  margin: 0rem 55.6rem 0.4rem 0rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #25282b;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-23f .ctrl-scroll-4FF {
  margin-top: 0.4rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #828282;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-P2d {
  width: 96.8rem;
  height: 6.5rem;
  position: absolute;
  left: 19.3rem;
  top: 52.9rem;
  display: flex;
  align-items: center;
}
.atalhos-do-figma-X17 .topicos-P2d .zoom--XPj {
  margin: 0rem 37.2rem 0.4rem 0rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #25282b;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-P2d .ctrl-scroll-qfK {
  margin-top: 0.4rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #828282;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-Mdf {
  width: 97.1rem;
  height: 6.5rem;
  position: absolute;
  left: 19.3rem;
  top: 64rem;
  display: flex;
  align-items: center;
}
.atalhos-do-figma-X17 .topicos-Mdf .zoom--gvq {
  margin: 0rem 60.3rem 0.4rem 0rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #25282b;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-Mdf .ctrl-scroll-bY1 {
  margin-top: 0.4rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #828282;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-XRf {
  width: 131.5rem;
  height: 6.5rem;
  position: absolute;
  left: 19.3rem;
  top: 75.1rem;
  display: flex;
  align-items: center;
}
.atalhos-do-figma-X17 .topicos-XRf .zoom--U61 {
  margin: 0rem 36.9rem 0.4rem 0rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #25282b;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-XRf .ctrl-scroll-mau {
  margin-top: 0.4rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #828282;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-5bb {
  width: 97rem;
  height: 6.5rem;
  position: absolute;
  left: 19.3rem;
  top: 86.2rem;
  display: flex;
  align-items: center;
}
.atalhos-do-figma-X17 .topicos-5bb .zoom--1k9 {
  margin: 0rem 61.6rem 0.4rem 0rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #25282b;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-5bb .ctrl-scroll-L1j {
  margin-top: 0.4rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #828282;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-3Rw {
  width: 95.6rem;
  height: 6.5rem;
  position: absolute;
  left: 19.3rem;
  top: 97.3rem;
  display: flex;
  align-items: center;
}
.atalhos-do-figma-X17 .topicos-3Rw .zoom--n8d {
  margin: 0rem 50.5rem 0.4rem 0rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #25282b;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-3Rw .ctrl-scroll-tSZ {
  margin-top: 0.4rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #828282;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-oZX {
  width: 110.2rem;
  height: 6.5rem;
  position: absolute;
  left: 19.3rem;
  top: 108.4rem;
  display: flex;
  align-items: center;
}
.atalhos-do-figma-X17 .topicos-oZX .zoom--wQq {
  margin: 0rem 63.8rem 0.4rem 0rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #25282b;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-oZX .ctrl-scroll-3im {
  margin-top: 0.4rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #828282;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-mem {
  width: 126.4rem;
  height: 6.5rem;
  position: absolute;
  left: 19.3rem;
  top: 119.5rem;
  display: flex;
  align-items: center;
}
.atalhos-do-figma-X17 .topicos-mem .zoom--WcM {
  margin: 0rem 53.8rem 0.4rem 0rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #25282b;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-mem .ctrl-scroll-EHT {
  margin-top: 0.4rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #828282;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-kWh {
  width: 157.7rem;
  height: 12.5rem;
  position: absolute;
  left: 19.3rem;
  top: 130.6rem;
  display: flex;
  align-items: flex-start;
}
.atalhos-do-figma-X17 .topicos-kWh .zoom--tN1 {
  margin-right: 12.1rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #25282b;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-kWh .ctrl-scroll-CtV {
  margin-top: 0.4rem;
  max-width: 64.5rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #828282;
  font-family: Bariol, 'Source Sans Pro';
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-XA5 {
  width: 159rem;
  height: 12.5rem;
  position: absolute;
  left: 19.3rem;
  top: 148rem;
  display: flex;
  align-items: flex-start;
}
.atalhos-do-figma-X17 .topicos-XA5 .zoom--rCM {
  margin-right: 13.6rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #25282b;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-XA5 .ctrl-scroll-yXs {
  margin-top: 0.4rem;
  max-width: 65.8rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #828282;
  font-family: Bariol, 'Source Sans Pro';
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-tuj {
  width: 120.4rem;
  height: 6.5rem;
  position: absolute;
  left: 19.3rem;
  top: 165.4rem;
  display: flex;
  align-items: center;
}
.atalhos-do-figma-X17 .topicos-tuj .zoom--dcR {
  margin: 0rem 11.3rem 0.4rem 0rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #25282b;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.atalhos-do-figma-X17 .topicos-tuj .ctrl-scroll-9am {
  margin-top: 0.4rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.864rem;
  color: #828282;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
