
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.projetos-pessoais-B3s {
  box-sizing: border-box;
  padding: 10.9rem 4.8rem 6.4rem 19rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.projetos-pessoais-B3s .projetos-voluntrio-hH7 {
  margin: 0rem 88.3rem 14.1rem 0rem;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #25282b;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.projetos-pessoais-B3s .vantagens-figma-CDs {
  margin: 0rem 130.3rem 1.7rem 0rem;
  width: 37.9rem;
  height: 10.6rem;
  flex-shrink: 0;
}
.projetos-pessoais-B3s .vantagens-figma-CDs .text-KpH {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.projetos-pessoais-B3s .vantagens-figma-CDs .text-KpH .atados-guj {
  margin-bottom: 1.4rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #25282b;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.projetos-pessoais-B3s .vantagens-figma-CDs .text-KpH .https-wwwatadoscombr--2Cu {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #52575c;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.projetos-pessoais-B3s .image-13-kPo {
  margin: 0rem 27.9rem 12.5rem 0rem;
  width: 140.3rem;
  height: 46.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.projetos-pessoais-B3s .logo-sUR {
  margin-left: 155.8rem;
  box-sizing: border-box;
  padding: 1.654rem 1.653rem 1.636rem 2.327rem;
  width: 12.4rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-PAu.png');
  flex-shrink: 0;
}
.projetos-pessoais-B3s .logo-sUR .auto-group-trnk-NRB {
  margin: 0rem 0.665rem 0.318rem 0rem;
  box-sizing: border-box;
  padding: 0.936rem 2.022rem 1.344rem 5.443rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-BAd.png');
  flex-shrink: 0;
}
.projetos-pessoais-B3s .logo-sUR .auto-group-trnk-NRB .vector-VEu {
  width: 0.2806rem;
  height: 0.2914rem;
  object-fit: contain;
  vertical-align: top;
}
.projetos-pessoais-B3s .logo-sUR .auto-group-bnyt-1U9 {
  margin: 0rem 0.664rem 0.552rem 0rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.projetos-pessoais-B3s .logo-sUR .auto-group-bnyt-1U9 .vector-wsb {
  margin: 0rem 0.383rem 0.202rem 0rem;
  width: 3.33rem;
  height: 1.7853rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.projetos-pessoais-B3s .logo-sUR .auto-group-bnyt-1U9 .vector-U6q {
  margin-right: 0.2252rem;
  width: 1.8683rem;
  height: 2.7693rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.projetos-pessoais-B3s .logo-sUR .auto-group-bnyt-1U9 .vector-zay {
  margin-bottom: 0.0227rem;
  width: 1.9385rem;
  height: 2.7466rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.projetos-pessoais-B3s .logo-sUR .auto-group-6u2b-Y6h {
  width: 100%;
  height: 2.9rem;
  position: relative;
  flex-shrink: 0;
}
.projetos-pessoais-B3s .logo-sUR .auto-group-6u2b-Y6h .vector-hEV {
  width: 7.7479rem;
  height: 0.2439rem;
  position: absolute;
  left: 0;
  top: 0.0122rem;
  object-fit: contain;
  vertical-align: top;
}
.projetos-pessoais-B3s .logo-sUR .auto-group-6u2b-Y6h .natal-e9j {
  width: 8.4rem;
  height: 2.9rem;
  position: absolute;
  left: 0.0198rem;
  top: 0;
  font-size: 2.2768rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.4098rem;
  color: #ffffff;
  font-family: Bariol, 'Source Sans Pro';
  white-space: nowrap;
}
