
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.thumbnail-8HB {
  box-sizing: border-box;
  padding: 11.3rem 24.5rem;
  width: 100%;
  height: 96rem;
  overflow: hidden;
  position: relative;
  background-color: #fdb935;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1.192rem 6.3574rem rgba(145, 98, 5, 0.25);
  background-color: #f9faff;
  border-radius: 1.9867rem;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ {
  margin-bottom: 0.7974rem;
  width: 131.1222rem;
  height: 62.4817rem;
  position: relative;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ .image-8gV {
  width: 71.5212rem;
  height: 62.4817rem;
  position: absolute;
  left: 59.601rem;
  top: 0;
  overflow: hidden;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ .image-8gV .yellow-bg-4q3 {
  width: 77.1833rem;
  height: 87.1168rem;
  position: absolute;
  left: 0rem;
  top: -11.3rem;
  object-fit: contain;
  vertical-align: top;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ .image-8gV .image-oGq {
  width: 77.1833rem;
  height: 87.1168rem;
  position: absolute;
  left: 0rem;
  top: -11.3rem;
  object-fit: contain;
  vertical-align: top;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ .header-XyX {
  width: 119.1596rem;
  height: 3.3rem;
  position: absolute;
  left: 0rem;
  top: 1.192rem;
  display: flex;
  align-items: center;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ .header-XyX .madelyn-torff-sXb {
  margin-right: 77.3235rem;
  font-size: 1.788rem;
  font-weight: 700;
  line-height: 1.799999872;
  color: #25282b;
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ .header-XyX .nav-nPf {
  margin: 0.199rem 0rem 0.301rem 0rem;
  height: calc(100% - 0.5rem);
  display: flex;
  column-gap: 4.6681rem;
  align-items: center;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ .header-XyX .nav-nPf .sobre-Jcu {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #25282b;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ .header-XyX .nav-nPf .sobre-Sj7 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #25282b;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ .header-XyX .nav-nPf .sobre-nY5 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #25282b;
  font-family: Raleway, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ .intro-8M3 {
  width: 48.1rem;
  height: 40.5466rem;
  position: absolute;
  left: 0;
  top: 11.0262rem;
  overflow: hidden;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ .intro-8M3 .ui-ux-designer-GTF {
  margin-bottom: 1.0741rem;
  font-size: 1.9867rem;
  font-weight: 700;
  line-height: 1.3625;
  text-transform: uppercase;
  color: #fdc435;
  font-family: Nunito, 'Source Sans Pro';
  white-space: nowrap;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ .intro-8M3 .content-ze9 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ .intro-8M3 .content-ze9 .title-YvZ {
  max-width: 48.1rem;
  font-size: 6.3574rem;
  font-weight: 700;
  line-height: 1.200000024;
  color: #333333;
  font-family: Playfair Display, 'Source Sans Pro';
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ .intro-8M3 .content-ze9 .auto-group-dcuj-g1B {
  box-sizing: border-box;
  padding-top: 3.1763rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ .intro-8M3 .content-ze9 .auto-group-dcuj-g1B .text-c9j {
  margin-bottom: 3.1069rem;
  max-width: 46.4rem;
  font-size: 2.384rem;
  font-weight: 400;
  line-height: 1.50000004;
  color: #828282;
  font-family: Nunito, 'Source Sans Pro';
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ .intro-8M3 .content-ze9 .auto-group-dcuj-g1B .buttons-wC1 {
  margin-right: 23.7718rem;
  width: calc(100% - 23.7718rem);
  height: 4.2894rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ .intro-8M3 .content-ze9 .auto-group-dcuj-g1B .buttons-wC1 .button-primary-GVB {
  margin-right: 1.192rem;
  width: 11.4681rem;
  height: 100%;
  font-size: 1.788rem;
  font-weight: 500;
  line-height: 1.5;
  color: #25282b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdc435;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-6e8b-bgZ .intro-8M3 .content-ze9 .auto-group-dcuj-g1B .buttons-wC1 .button-secondary-YSh {
  width: 11.6681rem;
  height: 100%;
  font-size: 1.788rem;
  font-weight: 500;
  line-height: 1.5;
  color: #25282b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem #25282b;
  box-sizing: border-box;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf {
  margin-right: 0.355rem;
  width: 147.0608rem;
  height: 505.7262rem;
  position: relative;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb {
  width: 98.5403rem;
  height: 187.9896rem;
  position: absolute;
  left: 26.4681rem;
  top: 13.5068rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .section-title-e8M {
  margin: 0rem 40.22rem 7.947rem 40.22rem;
  width: calc(100% - 80.4403rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .section-title-e8M .text-xuj {
  margin-bottom: 0.3973rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #25282b;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .section-title-e8M .rectangle-19-6FF {
  margin: 0 4.0833rem;
  width: calc(100% - 8.1665rem);
  height: 0.3973rem;
  background-color: #fdc435;
  border-radius: 0.1987rem;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project1-bho {
  margin-bottom: 7.9468rem;
  width: 100%;
  height: 52.0515rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.596rem 6.3574rem rgba(112, 144, 176, 0.1000000015);
  border-radius: 2.384rem;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project1-bho .project-nfo-k4u {
  box-sizing: border-box;
  padding: 14.497rem 0rem 14.397rem 5.011rem;
  width: 96.8105rem;
  height: 52.0515rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project1-bho .project-nfo-k4u .frame-3350-rtd {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project1-bho .project-nfo-k4u .frame-3350-rtd .text-p4m {
  margin-bottom: 2.384rem;
  font-size: 3.9734rem;
  font-weight: 700;
  line-height: 1.499999952;
  color: #25282b;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project1-bho .project-nfo-k4u .frame-3350-rtd .text-9Mw {
  margin-bottom: 7.784rem;
  font-size: 1.788rem;
  font-weight: 400;
  line-height: 1.5;
  color: #828282;
  font-family: Nunito, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project1-bho .project-nfo-k4u .frame-3350-rtd .boto-secudrio-tKX {
  width: 14.8681rem;
  height: 4.2894rem;
  font-size: 1.788rem;
  font-weight: 500;
  line-height: 1.5;
  color: #25282b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0993rem #25282b;
  box-sizing: border-box;
  border-radius: 2.384rem;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project1-bho .pexels-elly-fairytale-3823207-1-ZAm {
  width: 49.2701rem;
  height: 52.2502rem;
  position: relative;
  left: 49.2701rem;
  top: 0;
  background-size: 132.831% 187.859%;
  background-position: -16.1758rem -30.807rem;
  background-image: url('../assets/pexels-elly-fairytale-3823207-1-68u.png');
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project2-Bhw {
  margin-bottom: 7.9468rem;
  width: 100%;
  height: 52.0515rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0 0.596rem 6.3574rem rgba(112, 144, 176, 0.1000000015);
  border-radius: 2.384rem;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project2-Bhw .rectangle-7-jDf {
  width: 49.2701rem;
  height: 52.0515rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project2-Bhw .project-nfo-GDb {
  margin-top: 0rem;
  box-sizing: border-box;
  padding: 15.847rem 0rem 15.747rem 5.011rem;
  width: 67.9105rem;
  height: calc(100% - 0rem);
  background-color: #ffffff;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project2-Bhw .project-nfo-GDb .frame-3350-P3K {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project2-Bhw .project-nfo-GDb .frame-3350-P3K .text-wad {
  margin-bottom: 2.384rem;
  font-size: 3.9734rem;
  font-weight: 700;
  line-height: 1.499999952;
  color: #25282b;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project2-Bhw .project-nfo-GDb .frame-3350-P3K .text-sz5 {
  margin-bottom: 5.084rem;
  font-size: 1.788rem;
  font-weight: 400;
  line-height: 1.5;
  color: #828282;
  font-family: Nunito, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project2-Bhw .project-nfo-GDb .frame-3350-P3K .boto-secudrio-DY9 {
  width: 14.8681rem;
  height: 4.2894rem;
  font-size: 1.788rem;
  font-weight: 500;
  line-height: 1.5;
  color: #25282b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0993rem #25282b;
  box-sizing: border-box;
  border-radius: 2.384rem;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project3-3GH {
  width: 100%;
  height: 52.0515rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.596rem 6.3574rem rgba(112, 144, 176, 0.1000000015);
  border-radius: 2.384rem;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project3-3GH .project-nfo-CQ5 {
  box-sizing: border-box;
  padding: 15.847rem 0rem 15.747rem 5.011rem;
  width: 79.1105rem;
  height: 52.0515rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project3-3GH .project-nfo-CQ5 .frame-3350-idK {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project3-3GH .project-nfo-CQ5 .frame-3350-idK .text-UMb {
  margin-bottom: 2.384rem;
  font-size: 3.9734rem;
  font-weight: 700;
  line-height: 1.499999952;
  color: #25282b;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project3-3GH .project-nfo-CQ5 .frame-3350-idK .text-R1w {
  margin-bottom: 5.084rem;
  font-size: 1.788rem;
  font-weight: 400;
  line-height: 1.5;
  color: #828282;
  font-family: Nunito, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project3-3GH .project-nfo-CQ5 .frame-3350-idK .boto-secudrio-AER {
  width: 14.8681rem;
  height: 4.2894rem;
  font-size: 1.788rem;
  font-weight: 500;
  line-height: 1.5;
  color: #25282b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.0993rem #25282b;
  box-sizing: border-box;
  border-radius: 2.384rem;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .projects-iVb .project3-3GH .rectangle-7-dth {
  width: 49.2701rem;
  height: 52.0515rem;
  position: absolute;
  left: 49.2701rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw {
  width: 147.0608rem;
  height: 505.7262rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .auto-group-r9q7-4UD {
  box-sizing: border-box;
  padding: 0rem 40.375rem 3.26rem 29.502rem;
  width: 100%;
  height: 276.3471rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .auto-group-r9q7-4UD .image-nQD {
  margin-bottom: 128.636rem;
  width: 100%;
  height: 87.1168rem;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .auto-group-r9q7-4UD .section-title-wH7 {
  margin: 0rem 14.981rem 5.118rem 36.202rem;
  width: calc(100% - 51.1833rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .auto-group-r9q7-4UD .section-title-wH7 .text-U29 {
  margin-bottom: 0.3973rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #25282b;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .auto-group-r9q7-4UD .section-title-wH7 .rectangle-19-BhF {
  margin: 0 8.0333rem;
  width: calc(100% - 16.0665rem);
  height: 0.3973rem;
  background-color: #fdc435;
  border-radius: 0.1987rem;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .auto-group-r9q7-4UD .form-WDj {
  margin: 0rem 13.961rem 0rem 23.488rem;
  width: calc(100% - 37.4493rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .auto-group-r9q7-4UD .form-WDj .form-group-input-EQd {
  margin-bottom: 2.384rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .auto-group-r9q7-4UD .form-WDj .form-group-input-EQd .label-Bam {
  margin-bottom: 0.7801rem;
  font-size: 1.5894rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #25282b;
  font-family: Nunito, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .auto-group-r9q7-4UD .form-WDj .form-group-input-EQd .input-KBB {
  width: 100%;
  height: 3.9734rem;
  overflow: hidden;
  position: relative;
  border: solid 0.0993rem #e7ebf4;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.7947rem;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .auto-group-r9q7-4UD .form-WDj .form-group-input-RED {
  margin-bottom: 2.384rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .auto-group-r9q7-4UD .form-WDj .form-group-input-RED .label-yWd {
  margin-bottom: 0.7801rem;
  font-size: 1.5894rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #25282b;
  font-family: Nunito, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .auto-group-r9q7-4UD .form-WDj .form-group-input-RED .input-7cq {
  width: 100%;
  height: 3.9734rem;
  overflow: hidden;
  position: relative;
  border: solid 0.0993rem #e7ebf4;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.7947rem;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .auto-group-r9q7-4UD .form-WDj .form-group-textarea-e6y {
  margin-bottom: 2.384rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .auto-group-r9q7-4UD .form-WDj .form-group-textarea-e6y .label-Bch {
  margin-bottom: 0.7801rem;
  font-size: 1.5894rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #25282b;
  font-family: Nunito, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .auto-group-r9q7-4UD .form-WDj .form-group-textarea-e6y .textarea-KU1 {
  width: 100%;
  height: 15.8936rem;
  overflow: hidden;
  position: relative;
  border: solid 0.0993rem #e7ebf4;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.7947rem;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .auto-group-r9q7-4UD .form-WDj .button-primary-SHj {
  width: 8.0681rem;
  height: 4.2894rem;
  font-size: 1.788rem;
  font-weight: 500;
  line-height: 1.5;
  color: #25282b;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdc435;
  border-radius: 0.7947rem;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .auto-group-ldrm-iW9 {
  margin-bottom: 202.6433rem;
  width: 147.0608rem;
  height: 16.5889rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .footer-icons-32d {
  margin: 0rem 55.758rem 0rem 64.003rem;
  width: calc(100% - 119.7608rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .footer-icons-32d .icons-A7F {
  margin: 0rem 4.114rem 3.179rem 4.114rem;
  box-sizing: border-box;
  padding: 0.497rem 0.298rem 0.497rem 0.522rem;
  width: calc(100% - 8.2277rem);
  height: 4.7681rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .footer-icons-32d .icons-A7F .ph-instagram-logo-fill-FPb {
  margin: 0rem 3.402rem 0rem 0rem;
  width: 3.7251rem;
  height: 3.7251rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .footer-icons-32d .icons-A7F .bi-linkedin-Zv5 {
  margin-right: 3.1787rem;
  width: 3.7747rem;
  height: 3.7747rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .footer-icons-32d .icons-A7F .bi-envelope-fill-uDF {
  margin-bottom: 0rem;
  width: 4.1721rem;
  height: 3.1787rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.thumbnail-8HB .portfolio-footer-with-form-Fch .auto-group-refd-BVf .project-with-a-form-jRw .footer-icons-32d .madelyn-torff-2021-EmK {
  font-size: 1.5894rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #828282;
  font-family: Nunito, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
