
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.thumbnail-8HB {
  box-sizing: border-box;
  padding: 11.3rem 24.5rem;
  width: 100%;
  height: 96rem;
  overflow: hidden;
  position: relative;
  background-color: #fdb935;

  .portfolio-footer-with-form-Fch {
    width: 100%;
    align-items: flex-end;
    display: flex;
    border-radius: 1.9867rem;
    background-color: #f9faff;
    height: 100%;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    box-shadow: 0 1.192rem 6.3574rem rgba(145, 98, 5, 0.25);

    .auto-group-6e8b-bgZ {
      margin-bottom: 0.7974rem;
      width: 131.1222rem;
      height: 62.4817rem;
      position: relative;
      flex-shrink: 0;

      .image-8gV {
        width: 71.5212rem;
        height: 62.4817rem;
        position: absolute;
        left: 59.601rem;
        top: 0;
        overflow: hidden;

        .yellow-bg-4q3 {
          height: 87.1168rem;
          position: absolute;
          left: 0rem;
          top: -11.3rem;
          object-fit: contain;
          vertical-align: top;
          width: 77.1833rem;
        }
        .image-oGq {
          object-fit: contain;
          vertical-align: top;
          width: 77.1833rem;
          height: 87.1168rem;
          position: absolute;
          left: 0rem;
          top: -11.3rem;
        }
      }
      .header-XyX {
        position: absolute;
        left: 0rem;
        top: 1.192rem;
        display: flex;
        align-items: center;
        width: 119.1596rem;
        height: 3.3rem;

        .madelyn-torff-sXb {
          margin-right: 77.3235rem;
          font-size: 1.788rem;
          font-weight: 700;
          line-height: 1.799999872;
          color: #25282b;
          font-family: Comfortaa, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .nav-nPf {
          height: calc(100% - 0.5rem);
          display: flex;
          column-gap: 4.6681rem;
          align-items: center;
          flex-shrink: 0;
          margin: 0.199rem 0rem 0.301rem 0rem;

          .sobre-Jcu {
            font-family: Raleway, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5555555556;
            color: #25282b;
          }
          .sobre-Sj7 {
            color: #25282b;
            font-family: Raleway, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5555555556;
          }
          .sobre-nY5 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.5555555556;
            color: #25282b;
            font-family: Raleway, 'Source Sans Pro';
          }
        }
      }
      .intro-8M3 {
        overflow: hidden;
        width: 48.1rem;
        height: 40.5466rem;
        position: absolute;
        left: 0;
        top: 11.0262rem;

        .ui-ux-designer-GTF {
          font-weight: 700;
          line-height: 1.3625;
          text-transform: uppercase;
          color: #fdc435;
          font-family: Nunito, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.0741rem;
          font-size: 1.9867rem;
        }
        .content-ze9 {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: center;

          .title-YvZ {
            flex-shrink: 0;
            max-width: 48.1rem;
            font-size: 6.3574rem;
            font-weight: 700;
            line-height: 1.200000024;
            color: #333333;
            font-family: Playfair Display, 'Source Sans Pro';
          }
          .auto-group-dcuj-g1B {
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 3.1763rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .text-c9j {
              flex-shrink: 0;
              margin-bottom: 3.1069rem;
              max-width: 46.4rem;
              font-size: 2.384rem;
              font-weight: 400;
              line-height: 1.50000004;
              color: #828282;
              font-family: Nunito, 'Source Sans Pro';
            }
            .buttons-wC1 {
              margin-right: 23.7718rem;
              width: calc(100% - 23.7718rem);
              height: 4.2894rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .button-primary-GVB {
                margin-right: 1.192rem;
                font-weight: 500;
                line-height: 1.5;
                color: #25282b;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                justify-content: center;
                height: 100%;
                font-size: 1.788rem;
                display: flex;
                align-items: center;
                background-color: #fdc435;
                width: 11.4681rem;
                border-radius: 0.8rem;
                flex-shrink: 0;
              }
              .button-secondary-YSh {
                font-size: 1.788rem;
                font-weight: 500;
                justify-content: center;
                width: 11.6681rem;
                font-family: Roboto, 'Source Sans Pro';
                display: flex;
                border: solid 0.2rem #25282b;
                box-sizing: border-box;
                flex-shrink: 0;
                border-radius: 0.8rem;
                height: 100%;
                line-height: 1.5;
                color: #25282b;
                white-space: nowrap;
                align-items: center;
              }
            }
          }
        }
      }
    }
    .auto-group-refd-BVf {
      margin-right: 0.355rem;
      width: 147.0608rem;
      height: 505.7262rem;
      position: relative;
      flex-shrink: 0;

      .projects-iVb {
        flex-direction: column;
        width: 98.5403rem;
        height: 187.9896rem;
        position: absolute;
        left: 26.4681rem;
        top: 13.5068rem;
        align-items: center;
        display: flex;

        .section-title-e8M {
          flex-shrink: 0;
          margin: 0rem 40.22rem 7.947rem 40.22rem;
          width: calc(100% - 80.4403rem);
          align-items: center;
          display: flex;
          flex-direction: column;

          .text-xuj {
            color: #25282b;
            font-family: Playfair Display, 'Source Sans Pro';
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1.5;
            flex-shrink: 0;
            margin-bottom: 0.3973rem;
            text-align: center;
            white-space: nowrap;
          }
          .rectangle-19-6FF {
            flex-shrink: 0;
            margin: 0 4.0833rem;
            width: calc(100% - 8.1665rem);
            height: 0.3973rem;
            background-color: #fdc435;
            border-radius: 0.1987rem;
          }
        }
        .project1-bho {
          flex-shrink: 0;
          margin-bottom: 7.9468rem;
          width: 100%;
          height: 52.0515rem;
          position: relative;
          overflow: hidden;
          box-shadow: 0 0.596rem 6.3574rem rgba(112, 144, 176, 0.1000000015);
          border-radius: 2.384rem;

          .project-nfo-k4u {
            position: absolute;
            left: 0;
            top: 0;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 14.497rem 0rem 14.397rem 5.011rem;
            width: 96.8105rem;
            height: 52.0515rem;

            .frame-3350-rtd {
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 100%;

              .text-p4m {
                font-weight: 700;
                line-height: 1.499999952;
                color: #25282b;
                font-family: Playfair Display, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.384rem;
                font-size: 3.9734rem;
              }
              .text-9Mw {
                font-weight: 400;
                line-height: 1.5;
                color: #828282;
                font-family: Nunito, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 7.784rem;
                font-size: 1.788rem;
              }
              .boto-secudrio-tKX {
                width: 14.8681rem;
                font-size: 1.788rem;
                line-height: 1.5;
                display: flex;
                justify-content: center;
                font-weight: 500;
                color: #25282b;
                height: 4.2894rem;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                align-items: center;
                border: solid 0.0993rem #25282b;
                box-sizing: border-box;
                border-radius: 2.384rem;
                flex-shrink: 0;
              }
            }
          }
          .pexels-elly-fairytale-3823207-1-ZAm {
            top: 0;
            background-size: 132.831% 187.859%;
            background-position: -16.1758rem -30.807rem;
            background-image: url('REPLACE_IMAGE:43aed2cd6d1eda697ebdd81b9493257f358f1f41');
            width: 49.2701rem;
            height: 52.2502rem;
            position: relative;
            left: 49.2701rem;
          }
        }
        .project2-Bhw {
          align-items: center;
          box-shadow: 0 0.596rem 6.3574rem rgba(112, 144, 176, 0.1000000015);
          flex-shrink: 0;
          overflow: hidden;
          width: 100%;
          height: 52.0515rem;
          position: relative;
          display: flex;
          border-radius: 2.384rem;
          margin-bottom: 7.9468rem;

          .rectangle-7-jDf {
            width: 49.2701rem;
            height: 52.0515rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .project-nfo-GDb {
            height: calc(100% - 0rem);
            background-color: #ffffff;
            flex-shrink: 0;
            margin-top: 0rem;
            box-sizing: border-box;
            padding: 15.847rem 0rem 15.747rem 5.011rem;
            width: 67.9105rem;

            .frame-3350-P3K {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .text-wad {
                font-weight: 700;
                line-height: 1.499999952;
                color: #25282b;
                font-family: Playfair Display, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.384rem;
                font-size: 3.9734rem;
              }
              .text-sz5 {
                color: #828282;
                font-family: Nunito, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 5.084rem;
                font-size: 1.788rem;
                font-weight: 400;
                line-height: 1.5;
              }
              .boto-secudrio-DY9 {
                font-size: 1.788rem;
                white-space: nowrap;
                width: 14.8681rem;
                height: 4.2894rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border: solid 0.0993rem #25282b;
                border-radius: 2.384rem;
                flex-shrink: 0;
                font-weight: 500;
                font-family: Roboto, 'Source Sans Pro';
                box-sizing: border-box;
                line-height: 1.5;
                color: #25282b;
              }
            }
          }
        }
        .project3-3GH {
          border-radius: 2.384rem;
          flex-shrink: 0;
          width: 100%;
          height: 52.0515rem;
          position: relative;
          overflow: hidden;
          box-shadow: 0 0.596rem 6.3574rem rgba(112, 144, 176, 0.1000000015);

          .project-nfo-CQ5 {
            position: absolute;
            left: 0;
            top: 0;
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 15.847rem 0rem 15.747rem 5.011rem;
            width: 79.1105rem;
            height: 52.0515rem;

            .frame-3350-idK {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .text-UMb {
                font-size: 3.9734rem;
                font-weight: 700;
                line-height: 1.499999952;
                color: #25282b;
                font-family: Playfair Display, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 2.384rem;
              }
              .text-R1w {
                flex-shrink: 0;
                margin-bottom: 5.084rem;
                font-size: 1.788rem;
                font-weight: 400;
                line-height: 1.5;
                color: #828282;
                font-family: Nunito, 'Source Sans Pro';
                white-space: nowrap;
              }
              .boto-secudrio-AER {
                box-sizing: border-box;
                display: flex;
                align-items: center;
                line-height: 1.5;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                border: solid 0.0993rem #25282b;
                width: 14.8681rem;
                height: 4.2894rem;
                justify-content: center;
                font-weight: 500;
                color: #25282b;
                flex-shrink: 0;
                font-size: 1.788rem;
                border-radius: 2.384rem;
              }
            }
          }
          .rectangle-7-dth {
            position: absolute;
            left: 49.2701rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 49.2701rem;
            height: 52.0515rem;
          }
        }
      }
      .project-with-a-form-jRw {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 147.0608rem;
        height: 505.7262rem;
        position: absolute;
        left: 0;
        top: 0;

        .auto-group-r9q7-4UD {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0rem 40.375rem 3.26rem 29.502rem;
          width: 100%;
          height: 276.3471rem;

          .image-nQD {
            margin-bottom: 128.636rem;
            width: 100%;
            height: 87.1168rem;
            flex-shrink: 0;
          }
          .section-title-wH7 {
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 14.981rem 5.118rem 36.202rem;
            width: calc(100% - 51.1833rem);
            align-items: center;
            display: flex;

            .text-U29 {
              flex-shrink: 0;
              text-align: center;
              font-weight: 700;
              white-space: nowrap;
              color: #25282b;
              font-family: Playfair Display, 'Source Sans Pro';
              margin-bottom: 0.3973rem;
              font-size: 4.8rem;
              line-height: 1.5;
            }
            .rectangle-19-BhF {
              margin: 0 8.0333rem;
              width: calc(100% - 16.0665rem);
              height: 0.3973rem;
              background-color: #fdc435;
              border-radius: 0.1987rem;
              flex-shrink: 0;
            }
          }
          .form-WDj {
            margin: 0rem 13.961rem 0rem 23.488rem;
            width: calc(100% - 37.4493rem);
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .form-group-input-EQd {
              margin-bottom: 2.384rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .label-Bam {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.7801rem;
                font-size: 1.5894rem;
                font-weight: 600;
                line-height: 1.3625;
                color: #25282b;
                font-family: Nunito, 'Source Sans Pro';
              }
              .input-KBB {
                overflow: hidden;
                box-sizing: border-box;
                border-radius: 0.7947rem;
                width: 100%;
                position: relative;
                border: solid 0.0993rem #e7ebf4;
                background-color: #ffffff;
                flex-shrink: 0;
                height: 3.9734rem;
              }
            }
            .form-group-input-RED {
              margin-bottom: 2.384rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .label-yWd {
                line-height: 1.3625;
                color: #25282b;
                font-family: Nunito, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.7801rem;
                font-size: 1.5894rem;
                font-weight: 600;
              }
              .input-7cq {
                border: solid 0.0993rem #e7ebf4;
                box-sizing: border-box;
                flex-shrink: 0;
                overflow: hidden;
                position: relative;
                background-color: #ffffff;
                border-radius: 0.7947rem;
                width: 100%;
                height: 3.9734rem;
              }
            }
            .form-group-textarea-e6y {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-bottom: 2.384rem;
              width: 100%;

              .label-Bch {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.7801rem;
                font-size: 1.5894rem;
                font-weight: 600;
                line-height: 1.3625;
                color: #25282b;
                font-family: Nunito, 'Source Sans Pro';
              }
              .textarea-KU1 {
                border-radius: 0.7947rem;
                flex-shrink: 0;
                width: 100%;
                height: 15.8936rem;
                overflow: hidden;
                position: relative;
                border: solid 0.0993rem #e7ebf4;
                box-sizing: border-box;
                background-color: #ffffff;
              }
            }
            .button-primary-SHj {
              line-height: 1.5;
              flex-shrink: 0;
              align-items: center;
              width: 8.0681rem;
              font-size: 1.788rem;
              font-weight: 500;
              white-space: nowrap;
              height: 4.2894rem;
              color: #25282b;
              font-family: Roboto, 'Source Sans Pro';
              display: flex;
              justify-content: center;
              background-color: #fdc435;
              border-radius: 0.7947rem;
            }
          }
        }
        .auto-group-ldrm-iW9 {
          width: 147.0608rem;
          height: 16.5889rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 202.6433rem;
        }
        .footer-icons-32d {
          margin: 0rem 55.758rem 0rem 64.003rem;
          width: calc(100% - 119.7608rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .icons-A7F {
            box-sizing: border-box;
            padding: 0.497rem 0.298rem 0.497rem 0.522rem;
            width: calc(100% - 8.2277rem);
            height: 4.7681rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 4.114rem 3.179rem 4.114rem;

            .ph-instagram-logo-fill-FPb {
              height: 3.7251rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 3.402rem 0rem 0rem;
              width: 3.7251rem;
            }
            .bi-linkedin-Zv5 {
              margin-right: 3.1787rem;
              width: 3.7747rem;
              height: 3.7747rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .bi-envelope-fill-uDF {
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0rem;
              width: 4.1721rem;
              height: 3.1787rem;
              object-fit: contain;
            }
          }
          .madelyn-torff-2021-EmK {
            font-weight: 400;
            line-height: 1.3625;
            color: #828282;
            font-family: Nunito, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5894rem;
          }
        }
      }
    }
  }
}
