
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 5.1rem;
}.tab-active-Vzu {
  display: flex;
  flex-direction: column;
  width: 100%;

  .sobre-4HK {
    color: #25282b;
    font-family: Raleway, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 0.2rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5555555556;
  }
  .rectangle-11-NYu {
    border-radius: 0.2rem;
    flex-shrink: 0;
    width: 100%;
    height: 0.2rem;
    background-color: #25282b;
  }
}
