
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.atalhos-do-figma-X17 {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 197.1rem;
  position: relative;

  .atalhos-bsicos-3EM {
    font-family: Montserrat, 'Source Sans Pro';
    height: 9.8rem;
    top: 10.4rem;
    font-weight: 700;
    color: #25282b;
    line-height: 1.2175;
    white-space: nowrap;
    width: 66.1rem;
    position: absolute;
    left: 19.3rem;
    font-size: 8rem;
  }
  .logo-vJ9 {
    left: 173.2rem;
    flex-direction: column;
    background-position: center;
    background-image: url('REPLACE_IMAGE:13:162');
    height: 12.4rem;
    top: 178.3rem;
    overflow: hidden;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 1.654rem 1.653rem 1.636rem 2.327rem;
    width: 12.4rem;
    position: absolute;
    background-size: cover;
    align-items: center;
    display: flex;

    .auto-group-qmrm-oMw {
      margin: 0rem 0.665rem 0.318rem 0rem;
      box-sizing: border-box;
      padding: 0.936rem 2.022rem 1.344rem 5.443rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:13:164');
      flex-shrink: 0;

      .vector-WGM {
        width: 0.2806rem;
        height: 0.2914rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-bvns-dbs {
      flex-shrink: 0;
      margin: 0rem 0.664rem 0.552rem 0rem;
      display: flex;
      align-items: flex-end;

      .vector-N3f {
        margin: 0rem 0.383rem 0.202rem 0rem;
        width: 3.33rem;
        height: 1.7853rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-tXo {
        height: 2.7693rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.2252rem;
        width: 1.8683rem;
      }
      .vector-dEV {
        margin-bottom: 0.0227rem;
        width: 1.9385rem;
        height: 2.7466rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-xd8p-yJM {
      flex-shrink: 0;
      width: 100%;
      height: 2.9rem;
      position: relative;

      .vector-iWq {
        vertical-align: top;
        width: 7.7479rem;
        height: 0.2439rem;
        position: absolute;
        left: 0;
        top: 0.0122rem;
        object-fit: contain;
      }
      .natal-G2Z {
        width: 8.4rem;
        position: absolute;
        top: 0;
        white-space: nowrap;
        letter-spacing: 0.4098rem;
        color: #ffffff;
        font-family: Bariol, 'Source Sans Pro';
        height: 2.9rem;
        left: 0.0198rem;
        font-size: 2.2768rem;
        font-weight: 700;
        line-height: 1.2575;
      }
    }
  }
  .topicos-XjB {
    top: 30.6rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 159.8rem;
    height: 6.3rem;
    position: absolute;
    left: 19.3rem;
    padding: 0.1rem 31.5rem 0rem 0rem;

    .zoom--1uF {
      font-family: Bariol, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 71.1rem 0.1rem 0rem;
      display: flex;
      font-weight: 700;
      line-height: 1.2575;
      letter-spacing: 0.864rem;
      color: #25282b;
      font-size: 4.8rem;
      flex-shrink: 0;
    }
    .ctrl-scroll-Wb7 {
      white-space: nowrap;
      font-weight: 700;
      line-height: 1.2575;
      letter-spacing: 0.864rem;
      color: #828282;
      font-family: Bariol, 'Source Sans Pro';
      flex-shrink: 0;
      margin-top: 0.4rem;
      font-size: 4.8rem;
    }
  }
  .topicos-23f {
    position: absolute;
    left: 19.3rem;
    top: 41.8rem;
    display: flex;
    align-items: center;
    width: 139.6rem;
    height: 6.5rem;

    .zoom--xCD {
      margin: 0rem 55.6rem 0.4rem 0rem;
      display: flex;
      line-height: 1.2575;
      letter-spacing: 0.864rem;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4.8rem;
      font-weight: 700;
      color: #25282b;
      font-family: Bariol, 'Source Sans Pro';
    }
    .ctrl-scroll-4FF {
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.4rem;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.2575;
      letter-spacing: 0.864rem;
      color: #828282;
      font-family: Bariol, 'Source Sans Pro';
    }
  }
  .topicos-P2d {
    width: 96.8rem;
    height: 6.5rem;
    position: absolute;
    left: 19.3rem;
    top: 52.9rem;
    display: flex;
    align-items: center;

    .zoom--XPj {
      margin: 0rem 37.2rem 0.4rem 0rem;
      font-family: Bariol, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.2575;
      letter-spacing: 0.864rem;
      color: #25282b;
    }
    .ctrl-scroll-qfK {
      font-weight: 700;
      color: #828282;
      white-space: nowrap;
      font-size: 4.8rem;
      line-height: 1.2575;
      letter-spacing: 0.864rem;
      font-family: Bariol, 'Source Sans Pro';
      flex-shrink: 0;
      margin-top: 0.4rem;
    }
  }
  .topicos-Mdf {
    width: 97.1rem;
    height: 6.5rem;
    position: absolute;
    left: 19.3rem;
    top: 64rem;
    display: flex;
    align-items: center;

    .zoom--gvq {
      font-family: Bariol, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.2575;
      letter-spacing: 0.864rem;
      margin: 0rem 60.3rem 0.4rem 0rem;
      color: #25282b;
      flex-shrink: 0;
    }
    .ctrl-scroll-bY1 {
      font-size: 4.8rem;
      color: #828282;
      font-family: Bariol, 'Source Sans Pro';
      margin-top: 0.4rem;
      font-weight: 700;
      line-height: 1.2575;
      letter-spacing: 0.864rem;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .topicos-XRf {
    position: absolute;
    left: 19.3rem;
    top: 75.1rem;
    display: flex;
    align-items: center;
    width: 131.5rem;
    height: 6.5rem;

    .zoom--U61 {
      color: #25282b;
      font-family: Bariol, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 4.8rem;
      font-weight: 700;
      margin: 0rem 36.9rem 0.4rem 0rem;
      line-height: 1.2575;
      letter-spacing: 0.864rem;
    }
    .ctrl-scroll-mau {
      color: #828282;
      margin-top: 0.4rem;
      font-weight: 700;
      letter-spacing: 0.864rem;
      font-family: Bariol, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4.8rem;
      line-height: 1.2575;
    }
  }
  .topicos-5bb {
    top: 86.2rem;
    display: flex;
    align-items: center;
    width: 97rem;
    height: 6.5rem;
    position: absolute;
    left: 19.3rem;

    .zoom--1k9 {
      margin: 0rem 61.6rem 0.4rem 0rem;
      display: flex;
      font-weight: 700;
      letter-spacing: 0.864rem;
      flex-shrink: 0;
      font-size: 4.8rem;
      line-height: 1.2575;
      color: #25282b;
      font-family: Bariol, 'Source Sans Pro';
      white-space: nowrap;
    }
    .ctrl-scroll-L1j {
      flex-shrink: 0;
      font-weight: 700;
      letter-spacing: 0.864rem;
      color: #828282;
      font-family: Bariol, 'Source Sans Pro';
      margin-top: 0.4rem;
      font-size: 4.8rem;
      line-height: 1.2575;
      white-space: nowrap;
    }
  }
  .topicos-3Rw {
    top: 97.3rem;
    display: flex;
    align-items: center;
    width: 95.6rem;
    height: 6.5rem;
    position: absolute;
    left: 19.3rem;

    .zoom--n8d {
      flex-shrink: 0;
      margin: 0rem 50.5rem 0.4rem 0rem;
      display: flex;
      font-size: 4.8rem;
      line-height: 1.2575;
      color: #25282b;
      font-weight: 700;
      letter-spacing: 0.864rem;
      font-family: Bariol, 'Source Sans Pro';
      white-space: nowrap;
    }
    .ctrl-scroll-tSZ {
      margin-top: 0.4rem;
      font-size: 4.8rem;
      color: #828282;
      flex-shrink: 0;
      font-weight: 700;
      line-height: 1.2575;
      letter-spacing: 0.864rem;
      font-family: Bariol, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .topicos-oZX {
    align-items: center;
    width: 110.2rem;
    height: 6.5rem;
    position: absolute;
    left: 19.3rem;
    top: 108.4rem;
    display: flex;

    .zoom--wQq {
      margin: 0rem 63.8rem 0.4rem 0rem;
      display: flex;
      letter-spacing: 0.864rem;
      font-family: Bariol, 'Source Sans Pro';
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #25282b;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .ctrl-scroll-3im {
      color: #828282;
      font-family: Bariol, 'Source Sans Pro';
      margin-top: 0.4rem;
      font-size: 4.8rem;
      line-height: 1.2575;
      flex-shrink: 0;
      font-weight: 700;
      letter-spacing: 0.864rem;
      white-space: nowrap;
    }
  }
  .topicos-mem {
    align-items: center;
    width: 126.4rem;
    height: 6.5rem;
    position: absolute;
    left: 19.3rem;
    top: 119.5rem;
    display: flex;

    .zoom--WcM {
      font-weight: 700;
      line-height: 1.2575;
      letter-spacing: 0.864rem;
      color: #25282b;
      font-family: Bariol, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 53.8rem 0.4rem 0rem;
      display: flex;
      font-size: 4.8rem;
      white-space: nowrap;
    }
    .ctrl-scroll-EHT {
      flex-shrink: 0;
      margin-top: 0.4rem;
      font-weight: 700;
      line-height: 1.2575;
      letter-spacing: 0.864rem;
      font-size: 4.8rem;
      color: #828282;
      font-family: Bariol, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .topicos-kWh {
    width: 157.7rem;
    height: 12.5rem;
    position: absolute;
    left: 19.3rem;
    top: 130.6rem;
    display: flex;
    align-items: flex-start;

    .zoom--tN1 {
      line-height: 1.2575;
      letter-spacing: 0.864rem;
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 4.8rem;
      font-weight: 700;
      color: #25282b;
      font-family: Bariol, 'Source Sans Pro';
      margin-right: 12.1rem;
    }
    .ctrl-scroll-CtV {
      max-width: 64.5rem;
      letter-spacing: 0.864rem;
      color: #828282;
      margin-top: 0.4rem;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.2575;
      font-family: Bariol, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
  .topicos-XA5 {
    top: 148rem;
    display: flex;
    align-items: flex-start;
    width: 159rem;
    height: 12.5rem;
    position: absolute;
    left: 19.3rem;

    .zoom--rCM {
      line-height: 1.2575;
      color: #25282b;
      font-family: Bariol, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 13.6rem;
      display: flex;
      font-size: 4.8rem;
      font-weight: 700;
      letter-spacing: 0.864rem;
      flex-shrink: 0;
    }
    .ctrl-scroll-yXs {
      letter-spacing: 0.864rem;
      color: #828282;
      flex-shrink: 0;
      margin-top: 0.4rem;
      max-width: 65.8rem;
      line-height: 1.2575;
      font-size: 4.8rem;
      font-weight: 700;
      font-family: Bariol, 'Source Sans Pro';
    }
  }
  .topicos-tuj {
    height: 6.5rem;
    position: absolute;
    left: 19.3rem;
    top: 165.4rem;
    display: flex;
    align-items: center;
    width: 120.4rem;

    .zoom--dcR {
      font-size: 4.8rem;
      line-height: 1.2575;
      font-family: Bariol, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 11.3rem 0.4rem 0rem;
      font-weight: 700;
      letter-spacing: 0.864rem;
      color: #25282b;
      display: flex;
    }
    .ctrl-scroll-9am {
      line-height: 1.2575;
      letter-spacing: 0.864rem;
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.4rem;
      font-size: 4.8rem;
      font-weight: 700;
      color: #828282;
      font-family: Bariol, 'Source Sans Pro';
    }
  }
}
