
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.projetos-pessoais-S5j {
  box-sizing: border-box;
  padding: 10.9rem 4.8rem 6.4rem 24rem;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  display: flex;
  background-color: #ffffff;

  .ideias-para-projetos-pessoais-kMK {
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 42.8rem 14.1rem 0rem;
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.2175;
    color: #25282b;
    font-family: Montserrat, 'Source Sans Pro';
  }
  .frame-3342-FJ5 {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 20.186rem 13.594rem 0rem;
    width: calc(100% - 20.1858rem);
    height: 57.5062rem;

    .group-3680-ZpZ {
      height: calc(100% - 0.0062rem);
      flex-shrink: 0;
      margin: 0rem 18.4rem 0.006rem 0rem;
      width: 62.1142rem;

      .vantagens-figma-VCR {
        display: flex;
        align-items: flex-start;
        margin: 0rem 34.114rem 4.7rem 0rem;
        width: calc(100% - 34.1142rem);
        height: 10.6rem;

        .item-1-cH3 {
          color: #25282b;
          font-family: Bariol, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3rem;
          font-size: 5.6rem;
          font-weight: 700;
          line-height: 1;
        }
        .text-925 {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .briefz-6i1 {
            line-height: 1.2575;
            color: #333333;
            font-family: Bariol, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.4rem;
            font-size: 4rem;
            font-weight: 700;
          }
          .http-briefzbiz--EJR {
            font-weight: 400;
            line-height: 1.2575;
            color: #52575c;
            font-family: Bariol, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.2rem;
          }
        }
      }
      .image-12-mJM {
        margin-left: 7.15rem;
        width: 54.9642rem;
        height: 42.2rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .group-3679-VEM {
      width: 62.5rem;
      height: 100%;
      flex-shrink: 0;

      .vantagens-figma-e7F {
        margin: 0rem 23.7rem 4.7rem 0rem;
        width: calc(100% - 23.7rem);
        height: 10.6rem;
        display: flex;
        align-items: flex-start;

        .item-2-xtd {
          flex-shrink: 0;
          margin-right: 4.1rem;
          font-size: 5.6rem;
          font-weight: 700;
          line-height: 1;
          color: #25282b;
          font-family: Bariol, 'Source Sans Pro';
          white-space: nowrap;
        }
        .text-Hvu {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;

          .sharpen-eWZ {
            font-weight: 700;
            line-height: 1.2575;
            color: #25282b;
            font-family: Bariol, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.4rem;
            font-size: 4rem;
          }
          .https-sharpendesign--n6y {
            font-weight: 400;
            line-height: 1.2575;
            color: #52575c;
            font-family: Bariol, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.2rem;
          }
        }
      }
      .image-11-hzd {
        height: 42.2062rem;
        position: relative;
        background-size: 143.04% 100%;
        background-position: 0 -0rem;
        background-image: url('REPLACE_IMAGE:85a31db62be0f680bd572c37b3df633a9edba781');
        width: 62.5rem;
      }
    }
  }
  .logo-CgV {
    overflow: hidden;
    position: relative;
    flex-direction: column;
    background-position: center;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 12.4rem;
    align-items: center;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:14:1172');
    padding: 1.654rem 1.653rem 1.636rem 2.327rem;

    .auto-group-nref-ieq {
      padding: 0.936rem 2.022rem 1.344rem 5.443rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:14:1174');
      flex-shrink: 0;
      margin: 0rem 0.665rem 0.318rem 0rem;
      box-sizing: border-box;

      .vector-S53 {
        height: 0.2914rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.2806rem;
      }
    }
    .auto-group-jp8o-xZB {
      margin: 0rem 0.664rem 0.552rem 0rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .vector-tSq {
        width: 3.33rem;
        height: 1.7853rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.383rem 0.202rem 0rem;
      }
      .vector-Dk1 {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.2252rem;
        width: 1.8683rem;
        height: 2.7693rem;
        object-fit: contain;
      }
      .vector-AQM {
        flex-shrink: 0;
        margin-bottom: 0.0227rem;
        width: 1.9385rem;
        height: 2.7466rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-v6z1-usj {
      width: 100%;
      height: 2.9rem;
      position: relative;
      flex-shrink: 0;

      .vector-GTP {
        top: 0.0122rem;
        object-fit: contain;
        vertical-align: top;
        width: 7.7479rem;
        height: 0.2439rem;
        position: absolute;
        left: 0;
      }
      .natal-Cbw {
        position: absolute;
        top: 0;
        left: 0.0198rem;
        font-size: 2.2768rem;
        font-weight: 700;
        line-height: 1.2575;
        letter-spacing: 0.4098rem;
        color: #ffffff;
        width: 8.4rem;
        height: 2.9rem;
        font-family: Bariol, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
