
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.videos-4ey {
  box-sizing: border-box;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10.9rem 4.8rem 6.4rem 23.6rem;
  width: 100%;
  overflow: hidden;
  display: flex;

  .vdeos-recomendados-BDo {
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 70.2rem 8rem 0rem;
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.2175;
    color: #25282b;
  }
  .refs-HXj {
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 43.3rem 8rem 0rem;
    row-gap: 1.6rem;
    display: flex;

    .workshop-de-ui-design-figma-parte-1-DRP {
      line-height: 1.2175;
      color: #25282b;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 600;
    }
    .https-wwwyoutubecom-watchvvlwhkm3r82mt2766s-aQM {
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2175;
      color: #2f80ed;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
    }
    .andressa-belm-6Nh {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2175;
      color: #52575c;
      font-family: Montserrat, 'Source Sans Pro';
    }
  }
  .refs-2XF {
    margin: 0rem 45rem 8rem 0rem;
    row-gap: 1.6rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .workshop-de-ui-design-figma-parte-2-A7f {
      color: #25282b;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 600;
      line-height: 1.2175;
    }
    .https-wwwyoutubecom-watchvae56addyg-mt2660s-t3f {
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2175;
      color: #2f80ed;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
    }
    .andressa-belm-oAd {
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2175;
      color: #52575c;
    }
  }
  .refs-w1w {
    margin: 0rem 30.5rem 8rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .ltux-para-sptw-como-ux-pode-ser-aplicado-no-seu-portflio-e-porque-nunca-fizemos-isso-5P3 {
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      max-width: 133.1rem;
      font-size: 4rem;
      font-weight: 600;
      line-height: 1.2175;
      color: #25282b;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .hannane-cherifi-kzy {
      line-height: 1.2175;
      color: #52575c;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 400;
    }
  }
  .refs-h9X {
    margin: 0rem 64.7rem 8rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .ltux-blumenau-dicas-de-portflio-e-entrevistas-3DP {
      line-height: 1.2175;
      color: #25282b;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      font-size: 4rem;
      font-weight: 600;
    }
    .milena-bozek-9XK {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2175;
      color: #52575c;
      font-family: Montserrat, 'Source Sans Pro';
    }
  }
  .refs-5vm {
    margin: 0rem 65.4rem 8rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .ltux-programa-de-mentoria-personal-branding-Rzd {
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      font-size: 4rem;
      font-weight: 600;
      line-height: 1.2175;
      color: #25282b;
    }
    .vanessa-kym-kn1 {
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2175;
      color: #52575c;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .refs-JYd {
    flex-shrink: 0;
    margin: 0rem 87rem 25.8rem 0rem;
    display: flex;
    flex-direction: column;

    .ladies-that-ux-natal-FTs {
      font-weight: 600;
      line-height: 1.2175;
      color: #25282b;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      font-size: 4rem;
    }
    .https-wwwinstagramcom-ltuxnatal--zRT {
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2175;
      color: #1366a6;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .logo-Kid {
    padding: 1.654rem 1.653rem 1.636rem 2.327rem;
    overflow: hidden;
    position: relative;
    background-image: url('REPLACE_IMAGE:13:227');
    margin-left: 151.2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: center;
    flex-shrink: 0;
    width: 12.4rem;
    background-size: cover;

    .auto-group-pvqz-1rM {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:13:229');
      flex-shrink: 0;
      margin: 0rem 0.665rem 0.318rem 0rem;
      box-sizing: border-box;
      padding: 0.936rem 2.022rem 1.344rem 5.443rem;

      .vector-X41 {
        vertical-align: top;
        width: 0.2806rem;
        height: 0.2914rem;
        object-fit: contain;
      }
    }
    .auto-group-sgzq-Swf {
      margin: 0rem 0.664rem 0.552rem 0rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .vector-MYq {
        width: 3.33rem;
        height: 1.7853rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.383rem 0.202rem 0rem;
      }
      .vector-UtM {
        width: 1.8683rem;
        height: 2.7693rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.2252rem;
      }
      .vector-Dqw {
        flex-shrink: 0;
        margin-bottom: 0.0227rem;
        width: 1.9385rem;
        height: 2.7466rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-lcip-Mx9 {
      width: 100%;
      height: 2.9rem;
      position: relative;
      flex-shrink: 0;

      .vector-7wK {
        top: 0.0122rem;
        object-fit: contain;
        vertical-align: top;
        width: 7.7479rem;
        height: 0.2439rem;
        position: absolute;
        left: 0;
      }
      .natal-G3X {
        width: 8.4rem;
        height: 2.9rem;
        position: absolute;
        top: 0;
        font-size: 2.2768rem;
        line-height: 1.2575;
        color: #ffffff;
        left: 0.0198rem;
        font-weight: 700;
        letter-spacing: 0.4098rem;
        font-family: Bariol, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
